.main-div{
    margin:20px 30px;
}

.container{
    padding:10px;
    border:1px solid gray;
    margin-bottom: 10px;
}

.container :hover{
    background-color: antiquewhite;
    cursor:pointer;
}

.title{
    background-color: grey;
}