.main-div{
    width:100vw;
    height: 100vh;
}

.header{
 height: 10vh;
 border: 1px solid blue;
}

.mid-section{
height:80vh;
border: 1px solid black;
display:flex;
}

.sections{
width:33.33vw;
border: 1px solid yellow;
}

@media(max-width:768px){
    .mid-section{
        flex-direction: column;
    }

    .sections{
        width:100vw;
        height:33.33vh;
    }
}

.footer{
height:10vh;
border:1px solid green;
}