#timer{
    margin-top: 10px;
    display: flex;
    width: 180px;
    justify-content: space-evenly;
}

#btn{
    margin-top: 10px;
    display: flex;
    width:150px;
    justify-content: space-between;

}

#submit-btn, #reset-btn{
    cursor: pointer;
}